{% extends "base.html" %}
{% block content %}


<div class="row">
  <div class="col-xs-12 col-md-12">
    <ol class="breadcrumb">
      <li><a href="/">首页</a></li>
      <li class="active">{{ b.name }}</li>
    </ol>
    {% if error %}
    <div class="alert alert-danger">{{ error }}</div>
    {% endif %}
    <br>
    <form action="/article/create/{{ b.id }}" method="POST">{% csrf_token %}
        标题
        <input type="text" class="form-control" id="inputTitle" placeholder="标题" name="art_title" value="{{ title }}"/>
        <br/>
        内容
        <textarea type="text" name="art_content" class="form-control">
            {{ content }}
        </textarea>
        <br/>
        <button class="btn btn-primary">发表</button>
    </form>
    <br>

  </div>
</div>



{% endblock %}