{% extends "base.html" %}
{% block content %}
<ol class="breadcrumb">
  <li><a href="/">首页</a></li>
  <li class="active">{{ b.name }}</li>
</ol>

<a href="/article/create/{{ b.id }}" class="btn btn-primary">发表文章</a>
<br>
<br>

<table class="table table-bordered">
  <thead>
    <th>标题</th>
    <th>作者</th>
    <th>创建时间</th>
    <th>最后更新时间</th>
  </thead>
  <tbody>
    {% for article in articles %}
    <tr>
        <td>{{ article.title }}</td>
        <td>{{ article.content }}</td>
        <td>{{ article.create_timestamp }}</td>
        <td>{{ article.last_update_timestamp }}</td>

    </tr>
   {% endfor%}
  </tbody>
</table>

<nav>

  <ul class="pagination">
    <li>
        {% if page.has_previous %}
        <a href="?page_no={{ page.previous_page_number }}">&laquo;</a>
        {% endif %}
        {% if not page.has_previous %}
        <a href="#">&laquo;</a>
        {% endif %}
    </li>
    {% for i in page.paginator.page_range %}
    <li {% if page.number == i %}class="active"{% endif %}>
        <a href="?page_no={{ i }}">{{ i }}</a>
    </li>
    {% endfor %}
    <li>
       {% if page.has_next %}
        <a href="?page_no={{ page.next_page_number }}">&raquo;</a>
       {% endif %}
       {% if not page.has_next %}
        <a href="">&raquo;</a>
       {% endif %}
    </li>


  </ul>

</nav>


{% endblock %}

