{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col-xs-12 col-md-10">
        {% for b in blocks %}
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <span class="panel-title "><a href="/article/list/{{ b.id }}">{{ b.name }}</a></span>
                    <span class="pull-right">管理员: {{ b.manager }}</span>
                </div>
                <div class="panel-body">
                 {{ b.desc }}
                </div>
            </div>
            {% endfor %}
    </div>
  <div class="col-xs-12 col-md-2">
      <div class="well">个人中心</div>
  </div>
</div>
{% endblock %}

